@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

:root{
    --purple: #7900FF;
    --blue: #548CFF;
    --darkblue: #2864db;
    --grey: #808080;
    --white: #fff;
}

body{
    margin: 0;
    padding: 0;
    background: var(--purple);
    height: 100vh;
    overflow: hidden;
    font-family: 'Noto Sans TC', sans-serif;
}

.center{
    width: 430px;
    margin: 20px auto;
    position: relative;
}

.center .header{
    font-size: 28px;
    font-weight: bold;
    color: var(--white);
    padding: 25px 0 30px 25px;
    background: var(--blue);
    border-bottom: 1px solid var(--blue);
    border-radius: 5px 5px 0 0;
}

.center form{
    position: absolute;
    background: var(--white);
    width: 100%;
    padding: 50px 10px 0 30px;
    box-sizing: border-box;
    border: 1px solid var(--grey);
    border-radius: 0 0 5px 5px;
}

form input{
    height: 50px;
    width: 90%;
    padding: 0 10px;
    border-radius: 3px;
    background: var(--white);
    border: 1px solid var(--grey);
    font-size: 18px;
    outline: none;
    margin-bottom: 20px;
}

form i{
    position: absolute;
    color: var(--grey);
    margin: 15px 0 20px -45px;
}

form input[type="submit"]{
    margin-top: 20px;
    margin-bottom: 40px;
    width: 130px;
    height: 45px;
    color: var(--white);
    cursor: pointer;
    line-height: 45px;
    border-radius: 45px;
    border-radius: 5px;
    background: var(--blue);
}

form input[type="submit"]:hover{
    background: var(--darkblue);
}

form a{
    text-decoration: none;
    font-size: 18px;
    color: var(--blue);
    padding: 0 0 0 20px;
}

.gender{
    display: inline-flex;
    background: var(--white);
    height: 30px;
    width: 95%;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }
  .gender .option{
    background: var(--white);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    border: 1px solid var(--grey);
    transition: all 0.3s ease;
  }
  .gender .option .dot{
    height: 20px;
    width: 20px;
    background: var(--grey);
    border-radius: 50%;
    position: relative;
  }
  .gender .option .dot::before{
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: var(--blue);
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
  }
  input[type="radio"]{
    display: none;
  }
  #male:checked:checked ~ .male,
  #female:checked:checked ~ .female{
    border-color: var(--blue);
    background: var(--blue);
  }
  #male:checked:checked ~ .male .dot,
  #female:checked:checked ~ .female .dot{
    background: var(--white);
  }
  #male:checked:checked ~ .male .dot::before,
  #female:checked:checked ~ .female .dot::before{
    opacity: 1;
    transform: scale(1);
  }
  .gender .option span{
    font-size: 20px;
    color: var(--grey);
  }
  #male:checked:checked ~ .male span,
  #female:checked:checked ~ .female span{
    color: var(--white);
  }