@import url('');
https://www.youtube.com/watch?v=1XevoCeOQ9c
:root {
    --purple: #7900FF;
    --blue: #548CFF;
    --green: #93FFD8;
    --lightgreen: #CFFFDC;
}

body {
    margin: 0;
    padding: 0;
    background: var(--purple);
}